
    /* Note: Try to remove the following lines to see the effect of CSS positioning */
    
    @font-face {
      font-family: 'Segoe UI';
      src: url('../extenral_modules/bower_components/segoe-fonts/fonts/light/segoeuil.eot');
      src: url('../extenral_modules/bower_components/segoe-fonts/fonts/light/segoeuil.eot?#iefix') format('embedded-opentype'), url('../extenral_modules/bower_components/segoe-fonts/fonts/light/segoeuil.woff') format('woff'), url('../extenral_modules/bower_components/segoe-fonts/fonts/light/segoeuil.svg#SegoeUI') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    
    html,
    body {
      padding: 0;
      margin: 0;
      position: relative;
      font-family: 'Segoe UI Light', 'Segoe', 'Segoe UI', 'SegoeUI-Light-final', Tahoma, Helvetica, Arial, sans-serif;
      font-size: 16px;
    }
    
    .affix {
      top: 0;
      width: 100%;
    }
    
    .affix+.container-fluid {
      padding-top: 70px;
    }
    
    .navbar {
      z-index: 100;
      border-radius: 0;
      color: black;
      border-bottom: 2px solid #777;
    }
    .nav>li>a{
        color: black !important;
    }
    .row{
        padding: 10px;
    }
    
    #section1 {
      padding-top: 50px;
      padding-bottom: 50px;
      /*color: #fff;
      background-color: #1E88E5;*/
    }
    
    #section2 {
      padding-top: 50px;
      padding-bottom: 50px;
      color: #fff;
      background-color: #f8f8f8;
    }
    h1{
        color: #FF851B;
    }
    
    #section3 {
      padding-top: 50px;
      padding-bottom: 50px;
      color: #fff;
     
    }
    
    #section41 {
      padding-top: 50px;
      height: 500px;
      color: #fff;
      background-color: #00bcd4;
    }
    
    #section42 {
      padding-top: 50px;
      height: 500px;
      color: #fff;
      background-color: #009688;
    }
    
    .header-img {
      border-radius: 50%;
    }
    .form-control, .btn{
        border-radius:0 !important;
    }
    
    .centered {
      text-align: center;
    }
    
    .project-box {
      width: 200px;
      height: 200px;
      background-image: url("ProfileMe.PNG");
       background-repeat: no-repeat;
    background-size: 100% 100%;
      /*border: 5px solid black;*/
      display: block;
    }
    
    .img-info {
      /*position: absolute;*/
      height: 100%;
      opacity: 0.8;
      background: #000;
      bottom: 0;
      padding: 12px;
      text-align: center;
    }
    
    .img-info:hover {
      animation-name: imgInf;
      animation-duration: 1s;
      animation-fill-mode: both;
      transition-timing-function: ease-in;
    }
    
    @keyframes imgInf {
      0% {
        /*transform:  translateY(-10%);*/
        opacity: 0.8;
      }
      20% {
        opacity: 0.4;
        /*transform:  translateY(-100%);*/
      }
      100% {
        opacity: 0;
        /*transform:  translateY(-100%);*/
      }
    }
    
    .img-container {
        /*/*padding-left: 50px;*/
      padding: 30px;
      /*padding-bottom: 50px;*/
      transform: perspective(400px) rotateY(12deg);
      -webkit-transform: perspective(400px) rotateY(12deg);
      width: 90%;
    }
    
    .img-container:hover {
      animation-name: thumbTilt;
      animation-duration: 1s;
      animation-fill-mode: both;
      transition-timing-function: ease-in;
      -webkit-animation-name: thumbTilt;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      -webkit-transition-timing-function: ease-in;
    }
    
    @keyframes thumbTilt {
      0% {
        transform: perspective(400px) rotateY(12deg) scale(1);
        -webkit-transform: perspective(400px) rotateY(12deg) scale(1);
        -o-transform: perspective(400px) rotateY(12deg) scale(1);
      }
      20% {
        transform: perspective(400px) rotateY(-15deg) scale(1.1);
        -webkit-transform: perspective(400px) rotateY(-15deg) scale(1.1);
        -o-transform: perspective(400px) rotateY(-15deg) scale(1.1);
      }
      100% {
        transform: perspective(400px) rotateY(0deg) scale(1.2);
        -webkit-transform: perspective(400px) rotateY(0deg) scale(1.2);
        -o-transform: perspective(400px) rotateY(0deg) scale(1.2);
      }
    }
      .contact-box {
                            padding: 30px;
                            background-color: #f8f8f8;
                            color: #FF851B;
                            height: 500px
                        }
                        
                        .contact-box div {
                            color: black;
                        }
    .navigation-footer-color {
            color: #ffffff;
            background-color: #85144B;
        }
        
        .center-item {
            text-align: center;
        }
        
        .footer-top {
            padding: 15px 10px;
        }
        
        .footer-icons a {
            display: inline-block;
            text-align: center;
            background-color: #ffffff;
            width: 35px;
            font-size: 170%;
        }